{% extends 'base.html' %}

{% block main %}

<h2> Contact Form</h2>

<hr>
    <div class="comment">
        <p>  Fill in this form to contact the site owners  </p>
    </div>
    <form method="post" action="{{ url_for('contact') }}" novalidate>
        {% include 'myflashes.html' %}
        {{ temp.csrf_token }}
        <div class = "contain"> 
            <div class="my_form_group">
                {{ temp.name.label(class="form-label") }} 
                <p class = "mytext"> Please enter your full name  </p>
                {{ temp.name(class="form-control") }}
                
            </div>
            <div class="my_form_group">
                {{ temp.email.label(class="form-label") }} 
                <p class = "mytext"> Please enter your e-mail address  </p>
                {{ temp.email(class="form-control", placeholder="seemaster@example.com") }}
            </div>
            <div class="my_form_group">
                {{ temp.subject.label(class="form-label") }} 
                <p class = "mytext"> Please enter the subject for your message </p>
                {{ temp.subject(class="form-control") }}
            </div>
            <div class="my_form_group">
                {{ temp.message.label(class="form-label") }} 
                <p class = "mytext"> Please enter the message you would like to send </p>
                {{ temp.message(class="form-control", rows="3") }}
            </div>

            <button type="submit" class="btn-primary">Send</button>
    
        </div>    
        
    </form>

{% endblock %}